<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity Name="SparshSam.OpenSnap"
            Publisher="CN=E6186421-BF8A-47E0-A89C-0F513DFF91C0"
            Version="1.0.1.0" />

  <Properties>
    <DisplayName>OpenSnap</DisplayName>
    <PublisherDisplayName>Sparsh Sam</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>A minimal, always-on-top desktop screenshot widget for Windows.</Description>
  </Properties>

  <Resources>
    <Resource Language="en-us" />
  </Resources>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Applications>
    <Application Id="OpenSnap" Executable="OpenSnap.exe" EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements
        DisplayName="OpenSnap"
        Description="Screenshot widget"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        BackgroundColor="transparent" />
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
